.square-wrapper{
    width: 100px;
    border: solid black;
}
.square{
    width: 100px;
    height: 100px;
}
.square.black{
    background: black;
}
.square.gray{
    background: gray;
}
.square.white{
    background: white;
}
.square.pink{
    background: pink;
}

@media only screem and (min-widh:768px){
    .square-wrapper{
        display: flex;
    }
    .square.black{
        background:red;
    }
    .square.gray{
        background: violet;
    }
    .square.white{
        background: brown;
    }
    .square.pink{
        background:green;
    }
    @media only screen and (min-width : 768px){
        .square-wrapper{
            display: flex;
            justify-content: center;
        }
        .square.black{
            background:orange;
        }
        .square.gray{
            background: rgb(68, 8, 8);
        }
        .square.white{
            background: yellow;
        }
        .square.pink{
            background:navy;
        }
    }
    @media only screen and (min-width:1024px){
        justify-content: space-evenly;
    }
    .square.black{
        background:white;
    }
    .square.gray{
        background: purple
    }
    .square.white{
        background: peru;
    }
    .square.pink{
        background:magenta;
    }
}
}